{% include "recipients/header.html" %}

{% include "recipients/about.html" %}

<div class="container">

    {% if entry_list %}
        <br>
        {% for entry in entry_list %}
            <ul>
              <li><a href="/blog/post/{{ entry.slug }}/">{{ entry.title }}</a> {{ entry.created_at|date:"M d, Y" }}</li>
            </ul>
        {% endfor %}
    {% else %}
        No entries available.<br />
    {% endif %}

</div>

{% include "recipients/newsletter_signup.html" %}

{% include "recipients/footer.html" %}
