{% include "recipients/header.html" %}

{% include "recipients/about.html" %}


<div class="page">

  <div class="container">
    
    {% if latest_entry %}
      {% include "blog/post.html" with entry=latest_entry %}
    {% endif %}

    {% if older_entries %}
      <section class="page__section page__older-entries">
        <h2 class="page__heading">Older Entries</h2>
          <ul>
        {% for entry in older_entries %}
            <li>
              <a href="/blog/post/{{ entry.slug }}/">{{ entry.title }}</a>
              <datetime>{{ entry.created_at|date:"M j, Y" }}</datetime>
            </li>
        {% endfor %}
          </ul>
      </section>
    {% endif %}
  </div> {# .container #}
  
</div> {# .page #}


{% include "recipients/newsletter_signup.html" %}

{% include "recipients/footer.html" %}
