
<div class="about">
  <div class="about__description">
    <div class="container">
      <div class="row">
        <div class="about__logo two columns">
          <img src="/static/img/logo.png" />
        </div>
        <div class="about__text ten columns">
          <p>
            Progressive Giving helps you decide which progressive groups need your money and effort.          
          </p>
        </div>
      </div> {# .row #}
    </div> {# .container #}
  </div> {# .about__description #}
  <div class="about__menu">
    <div class="container about__menu">
      <div class="row">
        <div class="about__menu-item three columns">
          <a href="/about">About this site</a>
        </div>
        {#<div class="about__menu-item three columns">
          <a href="/blog">Weblog</a>
        </div>#}
      </div> {# .row #}
    </div> {# .container #}
  </div> {# .about__menu #}
</div> {# .about #}
