{% include "recipients/header.html" %}
{% include "recipients/picker.html" %}
{% include "recipients/newsletter_signup.html" %}

<div class="container">

    <h2>Put your money where your heart is - donate to causes and candidates that make the world a better place.</h2>

    <p>Tech friends (and others), I have a favor to ask. I know a lot of you want to help save the world. Some of you have more money than time, but I'm here to tell you that there are more places to donate to out there than just the ACLU and Planned Parenthood.</p>

    <p>That’s where <a href="https://twitter.com/ProgressGive" target="new">ProgressGive</a> comes in.</p>

    <p>This Twitter bot and web site is sitting on top of a database of 500+ orgs (and growing). The bot posts 4 times a day, but if you aren't able to donate, you can always retweet. And you can always find the complete list of sites to donate to here at progressivegiving.com.</p>

    <p>We’ll eventually add some fancy features like ... replying to followers with suggested charities? For now I just want to give these organizations some more exposure, match people who want to give with charities they might not have known about before.</p>

    <p>So, that favor - if you're on Twitter, help us out and follow <a href="https://twitter.com/ProgressGive" target="new">ProgressGive</a> (and tell your friends about it!).</p>

</div>

{% include "recipients/footer.html" %}
