{% load helpers %}

{% include "recipients/header.html" %}

{# {% include "recipients/picker.html" %} #}

{# {% include "recipients/newsletter_signup.html" %} #}

{% include "recipients/about.html" %}

<div class="container">
  <div class="row category-list">

    <section class="category twelve columns">
      <h2 class="category__title">{{ category }}</h2>

      <ul class="category__list">
        {% for r in recipients %}
        <li>
          {% link_to_recipient r %}
        </li>
        {% endfor %}
      </ul>
    </section>

  </div> {# .row #}

</div>


{% include "recipients/footer.html" %}
