{% include "recipients/header.html" %}

{# {% include "recipients/picker.html" %} #}

{# {% include "recipients/newsletter_signup.html" %} #}

{% include "recipients/about.html" %}

<div class="container">
  <div class="row category-list">

    <section class="category six columns">
      <h2 class="category__title">{{ category }}</h2>

      <ul class="category__list">
        {% for r in recipients %}
        <li>
          <a class="category__org-link" href="{{r.url}}" target="new">{{r.name}}</a>
          {% if r.twitter_handle and r.twitter_handle != "@unknown" %}
          <a class="fa fa-twitter-square category__twitter-link" title="@{{r.twitter_handle}}" href="http://twitter.com/{{r.twitter_handle}}" target="new">
            <span class="u-off-screen">@{{r.twitter_handle}}</span>
          </a>
          {% endif %}
        </li>
        {% endfor %}
      </ul>
    </section>

  </div> {# .row #}

</div>


{% include "recipients/footer.html" %}
