{% include "recipients/header.html" %}

{% include "recipients/picker.html" %}

{% include "recipients/twitter.html" %}

{% include "recipients/newsletter_signup.html" %}

<div class="container categories">
  <div class="row">
    <div class="twelve columns">
      <p class="categories__text">Or find an organization working on a cause you care about…</p>
    </div>
  </div>
  <div class="categories__list">
    {% for cat in categories %}
    <section class="row categories__category">
      <h2 class="categories__title six columns"><a href="/category/{{cat.name}}/">{{ cat.name }}</a></h2>
      
      <ul class="categories__org-list six columns">
        {% for r in cat.recipients %}
        <li>
          <a class="categories__org-link" href="{{r.url}}" target="new">{{r.name}}</a> 
          {% if r.twitter_handle and r.twitter_handle != "@unknown" %}
          <a class="categories__twitter-link" href="http://twitter.com/{{r.twitter_handle}}" target="new">@{{r.twitter_handle}}</a>
          {% endif %}
        </li>
        {% endfor %}
        <li>
          <a class="categories__more-link" href="/category/{{ cat.name }}/">See more &rarr;</a></h2>
        </li>
      </ul>
    </section>
    
    {% endfor %}
  
  </div> {# .row #}
  
</div>

{% include "recipients/about.html" %}

{% include "recipients/footer.html" %}


