{% include "recipients/header.html" %}

{% include "recipients/about.html" %}

<div class="container categories">
  <div class="row category-list">

    <section class="category twelve columns">

      <p>

        <h1>{{recipient.name}}</h1>

        <p>
          {% if recipient.facebook_text %}
            {{ recipient.facebook_text }}<br>
          {% endif %}
        </p>

        <table>

            {% if recipient.candidate_deadline %}
              <tr>
                <td><strong>Vote</strong>:</td>
                <td>{{ recipient.candidate_deadline|date:"M d, Y" }}</td>
              </tr>
            {% endif %}
        
              <tr>
                <td><strong>URL</strong>:</td>
                <td><a href="{{recipient.url}}" target="new">{{recipient.url}}</a></td>
              </tr>

            {% if recipient.twitter_handle and recipient.twitter_handle != "@unknown" %}
              <tr>
                <td><strong>Twitter</strong>:</td>
                <td><a href="http://twitter.com/{{recipient.twitter_handle}}" target="new">http://twitter.com/@{{recipient.twitter_handle}}</a></td>
              </tr>
            {% endif %}

            {% if recipient.facebook_url %}
              <tr>
                <td><strong>Facebook</strong>:</td>
                <td><a href="{{ recipient.facebook_url }}" target="new">{{ recipient.facebook_url }}</a></td>
              </tr>
            {% endif %}

        </table>

      </p>

    </section>

  </div> {# .row #}

</div>

{% include "recipients/footer.html" %}
