{% include "recipients/header.html" %}
{% include "recipients/about.html" %}
<div class="container suggestion-form">
  
  <form method="POST" class="post-form">
    {% csrf_token %}
    <div class="row">
      <h4 class="suggestion-form__title">Is there a charitable organization you think we should know about?<br>Tell us here!</h4>
      
      <div class="twelve columns">
        <label for="{{ form.name.id_for_label }}">Organization name (required)</label>
        {{ form.name }}
        <div class="u-errors">{{ form.name.errors }}</div>
      </div>
      
      <div class="twelve columns">
        <label for="{{ form.url.id_for_label }}">URL (required)</label>
        {{ form.url }}
        <div class="u-errors">{{ form.url.errors }}</div>
      </div>
      
      <div class="twelve columns">
        <label for="{{ form.twitter_handle.id_for_label }}">Twitter handle</label>
        {{ form.twitter_handle }}
        <div class="u-errors">{{ form.twitter_handle.errors }}</div>
      </div>
      
      <div class="twelve columns">
        <label for="{{ form.facebook_url.id_for_label }}">Facebook URL</label>
        {{ form.facebook_url }}
        <div class="u-errors">{{ form.facebook_url.errors }}</div>
      </div>
      
      <div class="twelve-columns">
        <button type="submit" class="button-primary">Submit</button>
      </div>
      
    </div> {# .row #}
  </form>
  
</div> {# .container #}

{% include "recipients/footer.html" %}
