<div class="twitter">
  <div class="container">
    
    <div class="row">
      <div class="twitter__widget five columns">
        <a data-height="150" class="twitter-timeline" href="https://twitter.com/ProgressGive">Tweets by @ProgressGive</a>
        <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
    
      <p class="twitter__text seven columns">Follow @ProgressGive on Twitter to get suggestions for organizations that need your time and money. Tweets four times per day.</p>
      
    </div>
    
  </div>
</div>